<!DOCTYPE html>
<html lang="en" dir="ltr">
{%load staticfiles%}
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static 'testapp2.css'%}">
  </head>
  <body>
    <h1>LOCATION DETAILS</h1>
    {% if records3 %}
    <table border="3",<canvas id="canvas" width="300" height="300"></canvas>>
      <thead>
        <th>LOCATION_ID</th>
        <th>AGENT</th>
        <th>LOC_NAME</th>
        <th>LOC_CITY</th>
        <th>LOC_STATE</th>
        <th>PINCODE</th>
      </thead>
      {% for records31 in records3 %}
      <tr>
        <td>{{records31.locationid}}</td>
        <td>{{records31.agentloc}}</td>
        <td>{{records31.locname}}</td>
        <td>{{records31.loccity}}</td>
        <td>{{records31.locstate}}</td>
        <td>{{records31.pincode}}</td>
      </tr>
  {% endfor%}
    </table>
    {%else%}
<p>NO LOCATION RECORD WILL BE FOUND </p>
  {% endif %}

  </body>
</html>
